<div class="topic-index-wrapper">
  <div class="container">
  <div class="row user-main">
   <div class="user-info col-sm-12 col-md-4">
      <div class="user-area">
        <%= render 'devise/shared/user_info' %>
      </div>
      <div class="stats">
        <%= render 'devise/shared/stats' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to topics_path do %><i class="far fa-clone"> </i> 投稿一覧<% end %>
        </li>
        <li class="nav-item">
          <%= link_to likes_index_path do %><i class="fas fa-heart"></i> いいね済み一覧<% end %>
        </li>
      </ul>
       <% @topics.each do |topic| %>
         <div class="topic-index-single">
            <h2 class="topic-author">   
              <%= topic.user.username %>
            </h2>
            <%= image_tag topic.image.url %>
            <div class="feed-title">
            <span class="title"><%= link_to(topic.title, "/topics/#{topic.id}", :style=>"color:black;") %></span>
           </div>
            <p class="topic-text">
              <%= topic.description %>
            </p>
            <div id="likes_buttons_<%= topic.id %>">
             <%= render partial: 'likes/like', locals: { topic: topic} %>
            </div>
          </div>
      <% end %>
     </div>
    </div>
  </div>
</div>